# Last implementation sync: 2026-04-18 (Phase 0 disciplines unification; no API surface change)
openapi: 3.1.0
info:
  title: Vita AI API
  version: 1.0.9
  # 2026-04-09: internal phantom table cleanup (no API surface changes)
  # 2026-04-09: cron-to-ingest auth fix (internal, no API surface changes)
  # 2026-04-09: portal extraction uses vLLM direct, chat includes portal data (no API surface changes)
  # 2026-04-18: flash_cards.disciplineId now text UUID (schema drift fix matching live DB); no API surface change
  # 2026-04-20: Haiku plano-de-ensino extract via CLAUDE_CODE_OAUTH_TOKEN (no more x-api-key); no API surface change
  # 2026-04-27: portal notifications refactor — sendNotification unified dispatch + portal source/metadata in Notification schema (additive, no breaking change)
  # 2026-04-20: subject UPDATE via Drizzle native (raw SQL was silently failing on escape of long syllabus strings); no API surface change
  # 2026-04-24: Layer 4 LLM Judge fire-and-forget after audit (issue #170); no API surface change
  # 2026-04-20: cron-drives-Haiku — PDFs recém-baixados pro R2 disparam Haiku server-side (plano extract sem iOS inline)
  # 2026-04-20: cron-haiku-backfill — varredura retroativa de planos já em R2 sem extraction (sem precisar download novo)
  # 2026-04-20: multi-format support — downloader fetches docx/xlsx/pptx to R2, backfill uses mammoth/xlsx parsers
  # 2026-04-20: Canvas module items scraping — files inside modules now discovered
  # 2026-04-21: LLM extraction now emits canonical 'kind' enum per evaluation (parcial|semestral|trabalho|seminario|simulado|outro) — no API surface changes, internal Camada 2 normalization
  description: |
    Source-of-truth API specification for Vita AI across all platforms (Android, iOS, Web).
    Covers authentication, study tools, QBank, AI coaching, portal connectors, and more. Last updated: 2026-04-08.
  contact:
    name: BYMAV
    email: rafamav@pixio.cloud

servers:
  - url: https://app.vita-ai.cloud
    description: Production
  - url: http://localhost:3000
    description: Local development

tags:
  - name: auth
    description: Authentication (better-auth + mobile flows)
  - name: portal
    description: Unified academic portal connectors (Canvas, WebAluno)
  - name: study
    description: Study tools - flashcards, mindmaps, sessions, exams, transcription
  - name: qbank
    description: Question bank - questions, sessions, progress
  - name: simulados
    description: Mock exams / simulated tests
  - name: ai
    description: AI coach, OSCE, transcription
  - name: vita
    description: Vita chat and student context
  - name: studio
    description: Studio - upload sources, generate study outputs
  - name: user
    description: User profile, progress, achievements, activity
  - name: social
    description: Leaderboard and social stats
  - name: content
    description: Documents, notes
  - name: annotations
    description: Document annotations (strokes, text boxes)
  - name: notifications
    description: Notifications, briefings, preferences
  - name: platform
    description: Health, errors, enrollments, grades, materials, push
  - name: onboarding
    description: User onboarding
  - name: universities
    description: University directory and disciplines
  - name: billing
    description: Stripe checkout and webhooks
  - name: extension
    description: Browser extension auth and summary

security:
  - cookieAuth: []

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: better-auth.session_token
      description: Session cookie set by better-auth
    extensionToken:
      type: apiKey
      in: header
      name: X-Extension-Token
      description: Token issued to the browser extension
    stripeWebhook:
      type: apiKey
      in: header
      name: stripe-signature
      description: Stripe webhook signature

  schemas:
    # ── Common ──
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
      required: [error]

    PlanLimitError:
      type: object
      properties:
        error:
          type: string
          example: plan_limit
        message:
          type: string
          example: Upgrade your plan to continue
        upgrade:
          type: boolean
          example: true

    # ── Auth ──
    AuthToken:
      type: object
      properties:
        token:
          type: string
        name:
          type: string
          nullable: true
        email:
          type: string
        image:
          type: string
          nullable: true
      required: [token, email]

    # ── Portal ──
    PortalConnection:
      type: object
      properties:
        id:
          type: string
        portalType:
          type: string
        portalName:
          type: string
          nullable: true
        instanceUrl:
          type: string
        status:
          type: string
        lastSyncAt:
          type: string
          format: date-time
          nullable: true
          description: Last time data was actually synced (ingest/scrape)
        lastPingAt:
          type: string
          format: date-time
          nullable: true
          description: Last successful keep-alive ping (session still valid)
        counts:
          type: object
          properties:
            subjects:
              type: integer
            evaluations:
              type: integer
            schedule:
              type: integer
            documents:
              type: integer
            semesters:
              type: integer

    PortalStatus:
      type: object
      properties:
        connected:
          type: boolean
        connections:
          type: array
          items:
            $ref: '#/components/schemas/PortalConnection'
        totals:
          type: object
          properties:
            subjects:
              type: integer
            evaluations:
              type: integer
            schedule:
              type: integer
            documents:
              type: integer
            semesters:
              type: integer

    CanvasIngestPayload:
      type: object
      properties:
        instanceUrl:
          type: string
        user:
          type: object
        courses:
          type: array
          items:
            $ref: '#/components/schemas/CanvasCourse'
        assignments:
          type: array
          items:
            $ref: '#/components/schemas/CanvasAssignment'
        files:
          type: array
          items:
            $ref: '#/components/schemas/CanvasFile'
        calendarEvents:
          type: array
          items:
            $ref: '#/components/schemas/CanvasCalendarEvent'
        errors:
          type: array
          items:
            type: object
        sessionCookies:
          type: string
          description: Canvas session cookies from iOS WKWebView for server-side keep-alive
          nullable: true
        pdfContents:
          type: array
          items:
            $ref: '#/components/schemas/CanvasPdfContent'
      required: [instanceUrl, courses, assignments, files, calendarEvents, errors]

    CanvasCourse:
      type: object
      properties:
        canvasCourseId:
          type: string
        name:
          type: string
        code:
          type: string
          nullable: true
        term:
          type: string
          nullable: true
        enrollmentType:
          type: string
        currentScore:
          type: number
          nullable: true
        finalScore:
          type: number
          nullable: true
        currentGrade:
          type: string
          nullable: true
        finalGrade:
          type: string
          nullable: true
        teachers:
          type: array
          items:
            type: string
      required: [canvasCourseId, name, enrollmentType, teachers]

    CanvasAssignment:
      type: object
      properties:
        canvasAssignmentId:
          type: string
        canvasCourseId:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        dueAt:
          type: string
          format: date-time
          nullable: true
        pointsPossible:
          type: number
          nullable: true
        score:
          type: number
          nullable: true
        grade:
          type: string
          nullable: true
        submittedAt:
          type: string
          format: date-time
          nullable: true
      required: [canvasAssignmentId, canvasCourseId, name]

    CanvasFile:
      type: object
      properties:
        canvasFileId:
          type: string
        canvasCourseId:
          type: string
        displayName:
          type: string
        contentType:
          type: string
        size:
          type: integer
        downloadUrl:
          type: string
          nullable: true
      required: [canvasFileId, canvasCourseId, displayName, contentType, size]

    CanvasCalendarEvent:
      type: object
      properties:
        canvasEventId:
          type: string
        title:
          type: string
        startAt:
          type: string
          format: date-time
          nullable: true
        endAt:
          type: string
          format: date-time
          nullable: true
        contextType:
          type: string
          nullable: true
      required: [canvasEventId, title]

    CanvasPdfContent:
      type: object
      properties:
        canvasFileId:
          type: string
        displayName:
          type: string
        contentType:
          type: string
        sizeBytes:
          type: integer
        base64:
          type: string
      required: [canvasFileId, displayName, contentType, sizeBytes, base64]

    WebAlunoIngestPayload:
      type: object
      properties:
        instanceUrl:
          type: string
        grades:
          type: array
          items:
            $ref: '#/components/schemas/WebAlunoGrade'
        curriculum:
          type: array
          items:
            $ref: '#/components/schemas/WebAlunoCurriculum'
        schedule:
          type: array
          items:
            $ref: '#/components/schemas/WebAlunoSchedule'
        evaluations:
          type: array
          items:
            $ref: '#/components/schemas/ScraperEvaluation'
        frequency:
          type: array
          items:
            $ref: '#/components/schemas/WebAlunoFrequency'
      required: [instanceUrl]

    WebAlunoGrade:
      type: object
      properties:
        subjectName:
          type: string
        subjectCode:
          type: string
          nullable: true
        grade1:
          type: string
          nullable: true
        grade2:
          type: string
          nullable: true
        grade3:
          type: string
          nullable: true
        finalGrade:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        attendance:
          type: string
          nullable: true
      required: [subjectName]

    WebAlunoCurriculum:
      type: object
      properties:
        subjectName:
          type: string
        semester:
          type: string
          nullable: true
        workload:
          type: string
          nullable: true
        finalGrade:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
      required: [subjectName]

    WebAlunoSchedule:
      type: object
      properties:
        subjectName:
          type: string
        dayOfWeek:
          type: integer
        startTime:
          type: string
        endTime:
          type: string
        room:
          type: string
          nullable: true
        professor:
          type: string
          nullable: true
      required: [subjectName, dayOfWeek, startTime, endTime]

    WebAlunoFrequency:
      type: object
      properties:
        subjectName:
          type: string
        workload:
          type: string
          nullable: true
        absences:
          type: string
          nullable: true
        attendance:
          type: string
          nullable: true
      required: [subjectName]

    ScraperEvaluation:
      type: object
      properties:
        subjectName:
          type: string
        title:
          type: string
        type:
          type: string
          nullable: true
        date:
          type: string
          nullable: true
        weight:
          type: number
          nullable: true
        score:
          type: number
          nullable: true
      required: [subjectName, title]

    CanvasIngestResponse:
      type: object
      properties:
        success:
          type: boolean
        connectionId:
          type: string
        stats:
          type: object
          properties:
            courses:
              type: integer
            files:
              type: integer
            assignments:
              type: integer
            calendarEvents:
              type: integer
            subjectsWritten:
              type: integer
            evaluationsWritten:
              type: integer
            calendarWritten:
              type: integer
            pdfExtraction:
              type: integer
            errors:
              type: array
              items:
                type: string
            courseMapping:
              type: object

    WebAlunoIngestResponse:
      type: object
      properties:
        success:
          type: boolean
        grades:
          type: integer
        curriculum:
          type: integer
        schedule:
          type: integer
        frequency:
          type: integer
        academic:
          type: object
          properties:
            subjectsWritten:
              type: integer
            evalsWritten:
              type: integer
            schedWritten:
              type: integer

    PortalGrade:
      type: object
      properties:
        id:
          type: string
        subjectName:
          type: string
        subjectCode:
          type: string
          nullable: true
        grade1:
          type: string
          nullable: true
        grade2:
          type: string
          nullable: true
        grade3:
          type: string
          nullable: true
        finalGrade:
          type: string
          nullable: true
        status:
          type: string
        attendance:
          type: string
          nullable: true
        absences:
          type: string
          nullable: true
        workload:
          type: string
          nullable: true
        semester:
          type: string
          nullable: true
        professor:
          type: string
          nullable: true
        turma:
          type: string
          nullable: true
        source:
          type: string

    PortalScheduleItem:
      type: object
      properties:
        id:
          type: string
        subjectName:
          type: string
        dayOfWeek:
          type: integer
        startTime:
          type: string
        endTime:
          type: string
        room:
          type: string
          nullable: true
        professor:
          type: string
          nullable: true

    PortalEvaluation:
      type: object
      properties:
        id:
          type: string
        subjectId:
          type: string
        subjectName:
          type: string
        title:
          type: string
        type:
          type: string
        date:
          type: string
          format: date-time
          nullable: true
        pointsPossible:
          type: number
          nullable: true
        score:
          type: number
          nullable: true
        grade:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        submitted:
          type: boolean
          nullable: true

    PortalCalendarItem:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        type:
          type: string
        startAt:
          type: string
          format: date-time
        endAt:
          type: string
          format: date-time
          nullable: true
        subjectName:
          type: string
          nullable: true

    SyncProgress:
      type: object
      properties:
        syncId:
          type: string
        phase:
          type: string
        percent:
          type: number
        label:
          type: string
        grades:
          type: integer
        schedule:
          type: integer
        pagesDiscovered:
          type: integer
        pagesProcessed:
          type: integer
        error:
          type: string
          nullable: true

    # ── Study ──
    FlashcardDeck:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        title:
          type: string
        subjectId:
          type: string
          nullable: true
        deletedAt:
          type: string
          format: date-time
          nullable: true
        updatedAt:
          type: string
          format: date-time
        cards:
          type: array
          items:
            $ref: '#/components/schemas/Flashcard'

    Flashcard:
      type: object
      properties:
        id:
          type: string
        deckId:
          type: string
        front:
          type: string
        back:
          type: string
        stability:
          type: number
          nullable: true
        difficulty:
          type: number
          nullable: true
        state:
          type: string
          nullable: true
        scheduledDays:
          type: integer
          nullable: true
        reps:
          type: integer
          nullable: true
        lapses:
          type: integer
          nullable: true
        nextReviewAt:
          type: string
          format: date-time
          nullable: true
        lastReviewAt:
          type: string
          format: date-time
          nullable: true

    FlashcardReviewResult:
      type: object
      properties:
        id:
          type: string
        stability:
          type: number
        difficulty:
          type: number
        state:
          type: string
        scheduledDays:
          type: integer
        reps:
          type: integer
        lapses:
          type: integer
        nextReviewAt:
          type: string
          format: date-time
        rating:
          type: integer
        preview:
          type: object
          properties:
            again:
              type: object
            hard:
              type: object
            good:
              type: object
            easy:
              type: object

    FlashcardStats:
      type: object
      properties:
        totalCards:
          type: integer
        pendingCards:
          type: integer
        learnedCards:
          type: integer
        retentionRate:
          type: number
        avgReviewTime:
          type: number
        decks:
          type: array
          items:
            type: object
        forecast:
          type: array
          items:
            type: object

    TrabalhoItem:
      description: |
        Single evaluation item (exam, assignment, quiz, seminar, participation).

        STATE RULES (CANONICAL — iOS/Android/Web MUST respect):
        - `type` is the ONLY source of the category label. Never hardcode "PROVA" for an
          assignment. exam→PROVA, assignment→TRABALHO, quiz→QUIZ, seminar→APRESENTAÇÃO,
          participation→PARTICIPAÇÃO.
        - `submitted`/`status` tell if it was turned in. When submitted=true, item lives
          in `completed` bucket of TrabalhosResponse.
        - "Overdue" is DERIVED: `submitted=false AND date<now`. Not a column. Backend
          computes and buckets into `overdue` — clients never re-derive.
      type: object
      properties:
        id: { type: string }
        title: { type: string, description: Verbatim title from portal/extractor (e.g. "AD1 — Curso PNAISARI"). Never synthesized. }
        subjectName: { type: string }
        type:
          type: string
          enum: [exam, assignment, quiz, seminar, participation]
          example: assignment
          description: Category classification. Extractor writes this from LLM `kind` field. See src/lib/portal/extraction-prompts.ts.
        status:
          type: string
          enum: [pending, submitted, graded]
          example: pending
        submitted: { type: boolean, description: True when student turned it in. Canvas syncs this automatically. }
        submittedAt: { type: string, format: date-time, nullable: true }
        date: { type: string, format: date-time, nullable: true, description: Deadline. Used to derive overdue/urgent states. }
        daysUntil: { type: integer, nullable: true }
        pointsPossible: { type: number, nullable: true }
        score: { type: number, nullable: true }
        grade: { type: string, nullable: true }
        description: { type: string, nullable: true }
        descriptionHtml: { type: string, nullable: true }
        submissionTypes:
          type: array
          items: { type: string }
        canvasAssignmentId: { type: string, nullable: true }
        canGenerate: { type: boolean }
      required: [id, title, subjectName, type, status, submitted, submissionTypes, canGenerate]

    TrabalhosResponse:
      description: |
        Evaluations bucketed by state. Clients MUST respect the server's bucketing and
        never cross-mix pending↔overdue based on local date math — time zones will drift.

        - `pending`  → actionable: submitted=false AND (date IS NULL OR date>=now)
        - `completed`→ history:    submitted=true
        - `overdue`  → historical: submitted=false AND date<now. UI should de-emphasize
          (collapsed, muted, no primary CTA) — student can't act on it anymore.

        Hero card of /api/dashboard NEVER includes overdue — only pending with date>=now.
      type: object
      properties:
        pending:
          type: array
          description: A fazer (deadline ahead or no deadline)
          items: { $ref: '#/components/schemas/TrabalhoItem' }
        completed:
          type: array
          description: Entregues (history)
          items: { $ref: '#/components/schemas/TrabalhoItem' }
        overdue:
          type: array
          description: Vencidos sem entrega. Display as muted history — no primary CTA.
          items: { $ref: '#/components/schemas/TrabalhoItem' }
        total: { type: integer }
      required: [pending, completed, overdue, total]

    FlashcardImageOverlayRegion:
      type: object
      required: [x, y, w, h]
      properties:
        x:
          type: number
          minimum: 0
          maximum: 1
        y:
          type: number
          minimum: 0
          maximum: 1
        w:
          type: number
          exclusiveMinimum: 0
          maximum: 1
        h:
          type: number
          exclusiveMinimum: 0
          maximum: 1
        label:
          type: string
        defaultHidden:
          type: boolean

    FlashcardImageOverlay:
      type: object
      description: Anki-style image occlusion overlay attached to a flash card.
      required: [id, cardId, imageUrl, regions, createdBy, createdAt]
      properties:
        id:
          type: string
        cardId:
          type: string
        imageUrl:
          type: string
        regions:
          type: array
          description: Normalized 0..1 rectangles to occlude.
          items:
            type: object
            required: [x, y, w, h]
            properties:
              x:
                type: number
                minimum: 0
                maximum: 1
              y:
                type: number
                minimum: 0
                maximum: 1
              w:
                type: number
                exclusiveMinimum: 0
                maximum: 1
              h:
                type: number
                exclusiveMinimum: 0
                maximum: 1
              label:
                type: string
              defaultHidden:
                type: boolean
        createdBy:
          type: string
          enum: [user, auto]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Mindmap:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        sourceIds:
          type: array
          items:
            type: string
        nodes:
          type: object
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Exam:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        subjectId:
          type: string
          nullable: true
        date:
          type: string
          format: date
        notes:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time

    StudySession:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        title:
          type: string
        duration:
          type: integer
        accuracy:
          type: number
          nullable: true
        date:
          type: string
          format: date-time

    StudyPlanItem:
      type: object
      properties:
        id:
          type: string
        planId:
          type: string
          nullable: true
        planTitle:
          type: string
          nullable: true
        title:
          type: string
        description:
          type: string
          nullable: true
        subjectId:
          type: string
          nullable: true
        date:
          type: string
          format: date
        duration:
          type: integer
          nullable: true
        completed:
          type: boolean
        completedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time

    Transcription:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        status:
          type: string
        fileName:
          type: string
          nullable: true
        fileSize:
          type: integer
          nullable: true
        duration:
          type: string
          nullable: true
        durationSeconds:
          type: number
          nullable: true
        discipline:
          type: string
          nullable: true
        disciplineSlug:
          type: string
          nullable: true
        folderId:
          type: string
          nullable: true
        favorite:
          type: boolean
          default: false
        error:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    VoiceSession:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        title:
          type: string
        specialty:
          type: string
        caseId:
          type: string
          nullable: true
        steps:
          type: integer
        score:
          type: number
        date:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # ── QBank ──
    QBankFilters:
      type: object
      properties:
        institutions:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              slug:
                type: string
                nullable: true
              state:
                type: string
                nullable: true
              isResidence:
                type: boolean
              count:
                type: integer
        topics:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              disciplineSlug:
                type: string
                nullable: true
              count:
                type: integer
              iconSlug:
                type: string
                nullable: true
              disciplineName:
                type: string
                nullable: true
        disciplines:
          deprecated: true
          description: >
            [DEPRECATED 2026-04-17b] Catalog view from qbank_topics.disciplineSlug + vita.disciplines.
            Use GET /api/subjects instead — QBank must filter by the student's actual enrolled
            subjects, not the universal MedSimple catalog. This field stays for fallback during
            iOS/Android migration and may be removed in 2026-05.
          type: array
          items:
            type: object
            properties:
              slug:
                type: string
              name:
                type: string
              area:
                type: string
                nullable: true
              icon:
                type: string
                nullable: true
              topicCount:
                type: integer
              questionCount:
                type: integer
        years:
          type: array
          items:
            type: object
            properties:
              year:
                type: integer
              count:
                type: integer
        difficulties:
          type: array
          items:
            type: object
            properties:
              difficulty:
                type: string
              count:
                type: integer
        totalQuestions:
          type: integer
        totalAllStages:
          type: integer
          nullable: true
        stage:
          type: string
          nullable: true

    QBankQuestion:
      type: object
      properties:
        id:
          type: integer
        statement:
          type: string
        year:
          type: integer
          nullable: true
        difficulty:
          type: string
          nullable: true
        institutionName:
          type: string
          nullable: true
        alternatives:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              description:
                type: string
              sortOrder:
                type: integer
              isCorrect:
                type: boolean
        images:
          type: array
          items:
            type: object
        topics:
          type: array
          items:
            type: object
        statistics:
          type: object
          nullable: true
        userAnswer:
          type: object
          nullable: true
        medevoSlug:
          description: 'Slug original MedEvo (cross-match Vita x MedEvo). Rastreia origem cursinho. Added 2026-04-27.'
          type: string
          nullable: true
        medevoArea:
          description: 'Area cursinho-style MedEvo (7 valores). Tag PARALELA a arvore canonica BYMAV. Mapeada para examArea INEP via vita.exam_area_mapping. Added 2026-04-27.'
          type: string
          nullable: true
          enum: ["Clinica Medica", "Cirurgia", "Pediatria", "Ginecologia", "Obstetricia", "Medicina Preventiva e Social", "Oftalmologia", "Saude Mental"]
        medevoTopic:
          description: 'Topic granular MedEvo (~169 valores). Tag PARALELA. Added 2026-04-27.'
          type: string
          nullable: true
        medevoSubtopic:
          description: 'Subtopic ultra-granular MedEvo (~799 valores). Tag PARALELA. Added 2026-04-27.'
          type: string
          nullable: true
        examGreatAreaSlug:
          description: |
            Grande área CNRM/Enare (5 fixas). Derivada de disciplineSlug e/ou
            medevoArea via mapping declarativo. Usada por Jornada-com-objetivo
            (Residência/ENAMED/Revalida) e modo great-areas do toggle 3 lentes.
            SOT da decisão: agent-brain/decisions/2026-04-27_jornada-3lentes-FINAL.md
            Cobertura atual: 88.8% das Q reais (não-sintéticas). Updated 2026-04-27.
          type: string
          nullable: true
          enum: [clinica-medica, cirurgia-geral, ginecologia-obstetricia, pediatria, medicina-preventiva-social]
        pblSystemSlug:
          description: |
            Sistema PBL (12 fixos). Derivada de disciplineSlug via mapping
            declarativo. Usada pelo modo PBL do toggle 3 lentes (faculdades
            modulares: UFRN, FAMETRO, USP-RP, UFOP, CESUPA).
            Cobertura atual: 77.1% das Q reais. Updated 2026-04-27.
          type: string
          nullable: true
          enum:
            - cardiovascular
            - respiratorio
            - renal-urinario
            - endocrino-metabolico
            - digestorio
            - nervoso
            - hematologico-imunologico
            - locomotor
            - reprodutor-sexualidade
            - saude-mental-comportamento
            - infectoparasitario
            - integrado-aps
        isSynthetic:
          description: 'true se Q gerada (sem institutionId + year>=2025 + source=medsimple). false se prova real. Filtrar isSynthetic=false para Jornada-com-objetivo. Added 2026-04-27.'
          type: boolean
          default: false
        matchConfidence:
          description: 'Confianca cross-match MedEvo. 1.0=exato fingerprint SHA1 normalizado, 0.85-0.99=fuzzy MinHash+LSH, null=sem match. Added 2026-04-27.'
          type: number
          format: float
          nullable: true

    QBankProgress:
      type: object
      properties:
        totalAvailable:
          type: integer
        totalAnswered:
          type: integer
        totalCorrect:
          type: integer
        totalAnswers:
          type: integer
        accuracy:
          type: number
        byDifficulty:
          type: array
          items:
            type: object
        byTopic:
          type: array
          items:
            type: object
        scope:
          description: >
            "global" when totals reflect the whole catalogue (stage-scoped), "enrolled" when
            the `disciplineSlugs[]` query param was supplied. Added 2026-04-17.
          type: string
          enum: [global, enrolled]
          nullable: true
        scopedSlugs:
          description: >
            Echo of the `disciplineSlugs[]` query param used to filter this response. Empty
            array when `scope = "global"`. Added 2026-04-17.
          type: array
          items:
            type: string
          nullable: true
        requestedSlugs:
          description: >
            Echo of the original `disciplineSlugs[]` query param BEFORE server-side
            resolution. Differs from `scopedSlugs` when enrolled slugs are resolved to
            canonical qbank slugs (e.g. anatomia-medica-i -> anatomia). Added 2026-04-17c.
          type: array
          items:
            type: string
          nullable: true

    QBankSession:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
          nullable: true
        questionCount:
          type: integer
          nullable: true
        totalQuestions:
          type: integer
          nullable: true
        currentIndex:
          type: integer
          nullable: true
        answeredCount:
          type: integer
          nullable: true
        answeredQuestions:
          type: integer
          nullable: true
        correctCount:
          type: integer
          nullable: true
        correctAnswers:
          type: integer
          nullable: true
        score:
          type: number
          nullable: true
        createdAt:
          type: string
          format: date-time
        finishedAt:
          type: string
          format: date-time
          nullable: true
        disciplineTitle:
          description: >
            Discipline label to display in the "Sessões Recentes" cell. Either the user's filter
            when the session was created, or the first topic's discipline slug. Added 2026-04-17.
          type: string
          nullable: true
        topicTitle:
          description: >
            Topic label to display in the "Sessões Recentes" cell. Either the first filter topic's
            title, or the first question's first topic title. Added 2026-04-17.
          type: string
          nullable: true
        disciplineTitles:
          description: >
            Full list of discipline labels the session was scoped to (derived from
            `filters.disciplineSlugs` at creation time). The session `title` is a compact
            "First +N" summary for display; this field is the source of truth when the client
            needs every discipline. Added 2026-04-17b.
          type: array
          items:
            type: string
          nullable: true
        questionIds:
          description: >
            Ordered list of question IDs for this session. Returned only by POST /api/qbank/sessions
            (session creation). Not persisted or returned by GET — clients must cache locally
            after creation. Added 2026-04-19 to support Android QBank session navigation.
          type: array
          items:
            type: integer
          nullable: true

    QBankList:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        createdAt:
          type: string
          format: date-time
        questionCount:
          type: integer

    # ── Simulados ──
    SimuladoTemplate:
      type: object
      required: [id, slug, name, source, totalQuestions, distribution]
      properties:
        id:
          type: string
        slug:
          type: string
          description: Stable lookup key (e.g. revalida-objetiva-100, enare-objetiva-100)
        name:
          type: string
        description:
          type: string
          nullable: true
        source:
          type: string
          enum: [revalida, enare, residencia, rapido, internato, custom]
        totalQuestions:
          type: integer
        timeLimitMinutes:
          type: integer
          nullable: true
        passingScore:
          type: number
          nullable: true
        distribution:
          type: array
          items:
            type: object
            required: [disciplineSlug, weight]
            properties:
              disciplineSlug:
                type: string
              weight:
                type: number
                description: Percentage of totalQuestions allocated to this discipline (sums to 100)
              area:
                type: string
                nullable: true
        isOfficial:
          type: boolean

    SimuladoAttempt:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        subjectId:
          type: string
          nullable: true
        timed:
          type: boolean
        timeLimitMinutes:
          type: integer
          nullable: true
        totalQ:
          type: integer
        correctQ:
          type: integer
        wrongQ:
          type: integer
        blankQ:
          type: integer
        score:
          type: number
          nullable: true
        timeSpent:
          type: integer
          nullable: true
        createdAt:
          type: string
          format: date-time
        finishedAt:
          type: string
          format: date-time
          nullable: true

    SimuladoQuestion:
      type: object
      properties:
        id:
          type: string
        statement:
          type: string
        options:
          type: array
          items:
            type: string
        correctIdx:
          type: integer
        subjectId:
          type: string
          nullable: true
        topic:
          type: string
          nullable: true
        chosenIdx:
          type: integer
          nullable: true
        isCorrect:
          type: boolean
          nullable: true

    # ── AI ──
    QuickActionsResponse:
      type: object
      required: [suggestions, studyTools, aboutYou, connectors, attachments, ttlSeconds]
      properties:
        suggestions:
          type: array
          items:
            $ref: '#/components/schemas/QuickAction'
        studyTools:
          type: array
          items:
            $ref: '#/components/schemas/QuickAction'
        aboutYou:
          type: array
          items:
            $ref: '#/components/schemas/QuickAction'
        connectors:
          type: array
          items:
            $ref: '#/components/schemas/ConnectorBlock'
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentAction'
        ttlSeconds:
          type: integer
          description: Suggested client-side cache TTL.

    QuickAction:
      type: object
      required: [id, label, icon, prompt]
      properties:
        id:
          type: string
        label:
          type: string
        sublabel:
          type: string
          nullable: true
        icon:
          type: string
          description: SF Symbol name for iOS rendering.
        prompt:
          type: string
          description: Pre-filled prompt sent on tap. Empty when needsSelector is set.
        toolHint:
          type: string
          nullable: true
          description: Hint to backend coach which tool MUST be invoked (toolChoice=required).
        badge:
          type: string
          nullable: true
        needsSelector:
          type: string
          nullable: true
          enum: [subject, document, note, topic]
          description: When set, client opens picker before sending.

    ConnectorBlock:
      type: object
      required: [provider, displayName, connected, actions]
      properties:
        provider:
          type: string
        displayName:
          type: string
        connected:
          type: boolean
        actions:
          type: array
          items:
            $ref: '#/components/schemas/QuickAction'

    AttachmentAction:
      type: object
      required: [id, label, icon, kind]
      properties:
        id:
          type: string
        label:
          type: string
        icon:
          type: string
        kind:
          type: string
          enum: [photo, camera, file, audio, document, note]

    ChatMessage:
      type: object
      properties:
        role:
          type: string
          enum: [user, assistant, system]
        content:
          type: string
      required: [role, content]

    Conversation:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ConversationMessage:
      type: object
      properties:
        id:
          type: string
        role:
          type: string
        content:
          type: string
        feedback:
          type: string
          nullable: true
        timestamp:
          type: string
          format: date-time

    OsceAttemptStart:
      type: object
      properties:
        attemptId:
          type: string
        patientContext:
          type: string
        currentStep:
          type: integer
        totalSteps:
          type: integer
        stepName:
          type: string
        prompt:
          type: string

    OsceStepResponse:
      type: object
      properties:
        stepScore:
          type: number
        feedback:
          type: string
        isComplete:
          type: boolean
        nextStep:
          type: integer
          nullable: true
        nextPrompt:
          type: string
          nullable: true
        nextStepName:
          type: string
          nullable: true
        totalScore:
          type: number
          nullable: true
        grade:
          type: string
          nullable: true
        allStepScores:
          type: array
          items:
            type: number
          nullable: true
        xpAwarded:
          type: integer
          nullable: true

    # ── Studio ──
    StudioOutput:
      type: object
      properties:
        id:
          type: string
        outputType:
          type: string
          enum: [summary, flashcards, mindmap, quiz]
        title:
          type: string
        sourceName:
          type: string
        sourceId:
          type: string
        createdAt:
          type: string
          format: date-time
        status:
          type: string
        content:
          type: object

    StudioSource:
      type: object
      properties:
        id:
          type: string
        fileName:
          type: string
        mimeType:
          type: string
        sizeBytes:
          type: integer
        createdAt:
          type: string
          format: date-time

    # ── User ──
    Profile:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
          nullable: true
        email:
          type: string
        image:
          type: string
          nullable: true
        moment:
          type: string
          nullable: true
        year:
          type: integer
          nullable: true
        semester:
          type: integer
          nullable: true
        highSchoolYear:
          type: integer
          nullable: true
        examBoard:
          type: string
          nullable: true
        studyGoalId:
          type: string
          nullable: true
        university:
          type: string
          nullable: true
          description: Short display name of the user's university (e.g. "ULBRA Porto Alegre"). Resolved via LEFT JOIN universities on user_profiles.universityId.
        universityState:
          type: string
          nullable: true
          description: 2-letter state code (e.g. "RS") from the linked universities row.
        universityId:
          type: string
          nullable: true
        universityLms:
          type: string
          nullable: true
          description: Portal type the university uses (canvas, mannesoft, moodle, sigaa, totvs...). Resolved from universities.portalType.
        subjects:
          type: array
          items:
            type: object
        stats:
          type: object
        onboardingCompleted:
          type: boolean
        journeyType:
          $ref: '#/components/schemas/JourneyType'
        journeyConfig:
          $ref: '#/components/schemas/JourneyConfig'
        contentOrganizationMode:
          $ref: '#/components/schemas/ContentOrganizationMode'

    ContentOrganizationMode:
      type: string
      nullable: true
      enum: [tradicional, pbl, great-areas, null]
      description: |
        Modo de organização do conteúdo (toggle 3 lentes). null = default
        derivado de journeyType + university.curriculumMethod (override
        pessoal sempre vence).
        - 'tradicional': 96 disciplinas (Anatomia, Fisio, Cardio...)
        - 'pbl': 12 sistemas integrados (Cardiovascular, Respiratório...)
        - 'great-areas': 5 grandes áreas CNRM/Enare (Clínica/Cirurgia/GO/Pediatria/MPS)
        SOT: agent-brain/decisions/2026-04-27_jornada-3lentes-FINAL.md

    MedicalSpecialty:
      type: object
      description: |
        Especialidade médica canônica CNRM/MEC.
        SOT: vita.medical_specialties (migration 0080, 63 entries seedadas).
      properties:
        slug:
          type: string
          description: 'Identificador estável: cardiologia, cirurgia-geral, etc'
        name:
          type: string
        type:
          type: string
          enum: [direct_access, with_prerequisite]
        prerequisiteSlug:
          type: string
          nullable: true
          description: Quando type=with_prerequisite, slug da especialidade pré-requisito
        displayOrder:
          type: integer
        cnrmCode:
          type: string
          nullable: true
          description: 'Código oficial CNRM (ex: R3-CM-CARD)'

    OnboardingV2Request:
      type: object
      description: |
        Payload do onboarding novo (Onda 5a). Backend deriva journeyType,
        journeyConfig e contentOrganizationMode via tabela canônica.
        SOT: agent-brain/decisions/2026-04-27_jornada-3lentes-FINAL.md §7
      required: [goal]
      properties:
        goal:
          type: string
          enum: [FACULDADE, ENAMED, RESIDENCIA, REVALIDA]
          description: P1 — objetivo macro
        inFaculdade:
          type: string
          enum: [yes, graduated, skip]
          description: P2 — status faculdade. Obrigatório exceto se goal=REVALIDA
        semester:
          type: integer
          minimum: 1
          maximum: 12
          nullable: true
          description: Obrigatório se inFaculdade=yes. 1-8=FACULDADE, 9-12=INTERNATO
        university:
          type: string
          nullable: true
          description: Display name da universidade
        universityId:
          type: string
          nullable: true
          description: FK universities.id (preferido)
        universityLms:
          type: string
          nullable: true
          description: 'Portal LMS: canvas|mannesoft|moodle|sigaa|totvs'
        selectedSubjects:
          type: array
          items:
            oneOf:
              - type: string
              - type: object
                properties:
                  id:
                    type: string
                  difficulty:
                    type: string
                    enum: [easy, med, hard]
                    nullable: true
        studyGoal:
          type: string
          nullable: true
          description: Objetivo de estudo (Aprovar 1ª, Top 10%, etc)
        targetSpecialty:
          type: string
          nullable: true
          description: 'Slug de medical_specialties (apenas goal=RESIDENCIA)'
        targetInstitutions:
          type: array
          items:
            type: string
          nullable: true
          description: 'Bancas-alvo (apenas goal=RESIDENCIA)'
        currentStage:
          type: string
          enum: [PRIMEIRA, SEGUNDA]
          nullable: true
          description: 'Etapa Revalida (apenas goal=REVALIDA)'
        focusAreas:
          type: array
          items:
            type: string
          nullable: true
          description: 'Áreas de foco (apenas goal=REVALIDA)'

    JourneyType:
      type: string
      enum: [FACULDADE, INTERNATO, ENAMED, RESIDENCIA, REVALIDA]
      description: |
        Jornada universal do usuário. Substitui a tab "Faculdade" por uma tab
        "Jornada" que adapta o conteúdo (cards, conectores, mascote) ao
        contexto. SOT: agent-brain/decisions/2026-04-27_jornada-plano-consolidado.md

        - FACULDADE: graduação 1º-4º ano (template atual da Faculdade).
        - INTERNATO: 5º-6º ano, rotações sem notas tradicionais.
        - ENAMED: exame federal de medicina.
        - RESIDENCIA: foco em banca + especialidade-alvo.
        - REVALIDA: médicos formados no exterior, etapas 1ª e 2ª.

    JourneyConfig:
      type: object
      description: |
        Configuração específica da jornada. Shape varia por journeyType.
        Default `{}` quando ainda não preenchido pelo onboarding.
      properties:
        currentSemester:
          type: integer
          description: FACULDADE — semestre cursando (1-12)
          nullable: true
        institution:
          type: string
          description: FACULDADE — nome da instituição
          nullable: true
        activeDisciplines:
          type: array
          description: FACULDADE — slugs das disciplinas ativas
          items:
            type: string
          nullable: true
        currentStage:
          type: string
          enum: [PRIMEIRA, SEGUNDA]
          description: REVALIDA — etapa atual
          nullable: true
        focusAreas:
          type: array
          description: REVALIDA — áreas de foco selecionadas
          items:
            type: string
          nullable: true
        targetSpecialty:
          type: string
          description: RESIDENCIA — especialidade-alvo
          nullable: true
        targetInstitutions:
          type: array
          description: RESIDENCIA — instituições/bancas-alvo
          items:
            type: string
          nullable: true
        currentRotation:
          type: string
          description: INTERNATO — rotação atual
          nullable: true
        mainGoal:
          type: string
          description: Universal — objetivo principal escrito pelo usuário
          nullable: true

    UserJourney:
      type: object
      required: [journeyType]
      properties:
        journeyType:
          $ref: '#/components/schemas/JourneyType'
        journeyConfig:
          $ref: '#/components/schemas/JourneyConfig'

    UserProgress:
      type: object
      properties:
        streakDays:
          type: integer
        totalStudyHours:
          type: number
        avgAccuracy:
          type: number
        flashcardsDue:
          type: integer
        heatmap:
          type: array
          items:
            type: object
          description: Last 91 days of activity
        weeklyHours:
          type: array
          items:
            type: number
          description: Study hours per day of current week (7 entries)

    Achievements:
      type: object
      properties:
        level:
          type: integer
        totalXp:
          type: integer
        currentLevelXp:
          type: integer
        xpToNextLevel:
          type: integer
        streakDays:
          type: integer
        tier:
          type: string
        achievements:
          type: array
          items:
            type: object

    ActivityEntry:
      type: object
      properties:
        id:
          type: string
        action:
          type: string
        xpAwarded:
          type: integer
          nullable: true
        metadata:
          type: object
          nullable: true
        createdAt:
          type: string
          format: date-time

    # ── Content ──
    Document:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        fileName:
          type: string
        fileUrl:
          type: string
        subjectId:
          type: string
          nullable: true
        totalPages:
          type: integer
          nullable: true
        currentPage:
          type: integer
          nullable: true
        readProgress:
          type: number
          nullable: true
        isFavorite:
          type: boolean
        createdAt:
          type: string
          format: date-time
        portalCreatedAt:
          type: string
          format: date-time
          nullable: true
          description: |
            Data REAL de upload do material no portal (Canvas/WebAluno),
            distinta de `createdAt` que é o timestamp do nosso sync.
            Quando ausente (docs antigos sincronizados antes do feature),
            UI faz fallback para `createdAt`.
        portalModifiedAt:
          type: string
          format: date-time
          nullable: true
          description: Última modificação do material no portal de origem.

    Note:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        content:
          type: string
          nullable: true
        subjectId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # ── Notifications ──
    Notification:
      type: object
      properties:
        id:
          type: string
        type:
          description: 'badge | flashcard | transcriptionReady | portal_announcement | portal_file_added | portal_assignment_added | portal_grade_posted | portal_update | portal_summary'
          type: string
        title:
          type: string
        description:
          type: string
        time:
          type: string
        read:
          type: boolean
        group:
          type: string
        route:
          type: string
          nullable: true
        priority:
          type: string
        createdAt:
          type: string
          format: date-time
        source:
          description: 'Portal slug (canvas, mannesoft, sigaa, ...) ou null para notif interna Vita. Usado pelo client pra renderizar icone do portal. Added 2026-04-27.'
          type: string
          nullable: true
        subjectId:
          description: 'Disciplina linkada (academic_subjects.id) — pra deep link na UI. Added 2026-04-27.'
          type: string
          nullable: true
        metadata:
          description: 'Payload self-contained com iconUrl + brandColor + portalDisplayName + extras (announcementId, fileId, courseId, etc). Resolved no momento da criacao. Added 2026-04-27.'
          type: object
          nullable: true
          additionalProperties: true

    Briefing:
      type: object
      properties:
        id:
          type: string
        subject:
          type: string
        module:
          type: string
          nullable: true
        summary:
          type: string
        keypoints:
          type: array
          items:
            type: string
        suggestedQuestions:
          type: array
          items:
            type: string
        connections:
          type: string
        filesAnalyzed:
          type: integer

    # ── Platform ──
    HealthCheck:
      type: object
      properties:
        status:
          type: string
        db:
          type: string
        uptime:
          type: number
        version:
          type: string
        checks:
          type: object
          nullable: true

    PortalSyncHealth:
      type: object
      required:
        - healthy
        - staleConnections
        - activeConnections
        - stalePct
        - thresholdMinutes
        - breakdown
        - checkedAt
      properties:
        healthy:
          type: boolean
        staleConnections:
          type: integer
        activeConnections:
          type: integer
        stalePct:
          type: integer
        oldestSyncAt:
          type: string
          format: date-time
          nullable: true
        thresholdMinutes:
          type: integer
        breakdown:
          type: object
          additionalProperties:
            type: integer
          description: Stale connection count grouped by portalType
        checkedAt:
          type: string
          format: date-time

    Grade:
      type: object
      properties:
        id:
          type: string
        subjectId:
          type: string
        label:
          type: string
        value:
          type: number
        maxValue:
          type: number
          nullable: true
        notes:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time

    Material:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        type:
          type: string
        subject:
          type: string
        size:
          type: integer
        addedAt:
          type: string
          format: date-time

    # ── Universities ──
    University:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        shortName:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        enameConcept:
          type: integer
          nullable: true
        portals:
          type: array
          items:
            $ref: '#/components/schemas/UniversityPortal'

    UniversityPortal:
      type: object
      properties:
        id:
          type: string
        portalType:
          type: string
        portalName:
          type: string
        instanceUrl:
          type: string
          nullable: true
        authMethod:
          type: string
          nullable: true

    Discipline:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        semester:
          type: integer
          nullable: true

    # ── Focus Session ──
    FocusSession:
      type: object
      required: [id, startedAt, plannedDurationMinutes, completed, xpAwarded]
      properties:
        id: { type: string }
        startedAt: { type: string, format: date-time }
        endedAt: { type: string, format: date-time, nullable: true }
        plannedDurationMinutes: { type: integer }
        actualDurationSeconds: { type: integer, nullable: true }
        subjectId: { type: string, nullable: true }
        leaks:
          type: array
          items:
            type: object
            properties:
              at: { type: string, format: date-time }
              durationMs: { type: integer }
        completed: { type: boolean }
        xpAwarded: { type: integer }

    # ── Referrals ──
    MyReferralResponse:
      type: object
      required: [code, isCustomized, shareUrl, rewards, totalInvited, totalQualified, totalDaysEarned]
      properties:
        code: { type: string }
        isCustomized: { type: boolean }
        shareUrl: { type: string }
        rewards:
          type: object
          properties:
            ownerDays: { type: integer }
            invitedDays: { type: integer }
        totalInvited: { type: integer }
        totalQualified: { type: integer }
        totalDaysEarned: { type: integer }
        myProUntil: { type: string, format: date-time, nullable: true }
        qualifiedFriends:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
              qualifiedAt: { type: string, format: date-time }
        pendingFriends:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
              signedUpAt: { type: string, format: date-time }

    # ── Privacy Preferences ──
    PrivacyPreferences:
      type: object
      description: >
        Switches de privacidade. Defaults: location=false, publicProfile=false,
        publicLeaderboard=true, telemetry=true. Vita não tem ads — sem campo
        de "anúncios personalizados".
      required: [location, publicProfile, publicLeaderboard, telemetry]
      properties:
        location:
          type: boolean
          description: Permite app pedir GPS pra features opcionais
        publicProfile:
          type: boolean
          description: Outros estudantes veem suas conquistas/streak/sessões
        publicLeaderboard:
          type: boolean
          description: Aparece no leaderboard (scope=user). False te tira do ranking visível
        telemetry:
          type: boolean
          description: Crash reports anônimos via Sentry. False desliga SentrySDK

    # ── Leaderboard ──
    LeaderboardEntry:
      type: object
      description: >
        Linha de ranking. `scope=user` retorna `name` do aluno + streak. `scope=university`
        retorna `name` da faculdade (shortName quando existe), `studentCount`, `state`, `city`.
      properties:
        rank:
          type: integer
        scope:
          type: string
          enum: [user, university]
          description: Tipo da linha. Default "user" (retrocompat).
        name:
          type: string
        xp:
          type: integer
        streak:
          type: integer
          description: Apenas em scope=user. Em scope=university é 0.
        isCurrentUser:
          type: boolean
          description: >
            scope=user — true se for o user logado. scope=university — true se
            o user logado pertence a essa faculdade.
        initials:
          type: string
        universityId:
          type: string
          nullable: true
          description: Apenas em scope=university.
        state:
          type: string
          nullable: true
          description: Apenas em scope=university (UF da instituição).
        city:
          type: string
          nullable: true
          description: Apenas em scope=university.
        studentCount:
          type: integer
          description: Apenas em scope=university (alunos somados pra esse XP).

    Dashboard:
      type: object
      properties:
        greeting:
          type: string
        subtitle:
          type: string
        hero:
          type: array
          items:
            $ref: '#/components/schemas/DashboardHeroCard'
        subjects:
          type: array
          items:
            $ref: '#/components/schemas/DashboardSubject'
        agenda:
          type: array
          items:
            $ref: '#/components/schemas/DashboardAgendaItem'
        flashcardsDueTotal:
          type: integer
        xp:
          type: object
          properties:
            total:
              type: integer
            level:
              type: integer

    DashboardHeroCard:
      description: |
        One card of the dashboard hero carousel.

        HERO RULES (backend-enforced, see src/app/api/dashboard/route.ts):
        - NEVER shows overdue evaluations. Filter is applied at DB query time
          (submitted=false AND date>now).
        - `label` text MUST reflect the source evaluation's `type`:
          exam→"PROVA", assignment→"TRABALHO", quiz→"QUIZ",
          seminar→"APRESENTAÇÃO", participation→"PARTICIPAÇÃO".
          Client trusts server label — never re-derive from title text.
        - `title` for assignments is the verbatim portal title (e.g. "AD1 — PNAISARI").
          Only exams get the synthesized "Prova de {subject}" pattern.
      type: object
      required: [type, title, subtitle, pills, action, urgency, cta, backgroundImage]
      properties:
        type:
          type: string
          enum: [exam, revision, streak]
          description: |
            Semantic bucket of the card. 'exam' is used for any evaluation (including
            assignment/quiz/seminar/participation) — the differentiation lives in `label`.
        label:
          type: string
          description: |
            Human-readable category label. For evaluation cards matches the source
            evaluation's type: PROVA/TRABALHO/QUIZ/APRESENTAÇÃO/PARTICIPAÇÃO. For
            other card types: REVISÃO, STREAK, etc.
        labelTone:
          type: string
          enum: [danger, warning, info, accent, neutral]
          description: Visual tone of the label pill. danger=overdue soon (<=3d), warning=normal upcoming, info=informational.
        title:
          type: string
        subtitle:
          type: string
        pills:
          type: array
          items:
            type: object
            properties:
              icon:
                type: string
              text:
                type: string
        action:
          type: object
          properties:
            type:
              type: string
            target:
              type: string
            id:
              type: string
              nullable: true
        urgency:
          type: integer
          description: 0-100, higher = more urgent
        cta:
          type: object
          required: [text]
          description: |
            Call-to-action label rendered inside the card (e.g. "Revisar agora",
            "Praticar"). Tap target is the whole card, governed by `action`.
          properties:
            text:
              type: string
            icon:
              type: string
              nullable: true
        backgroundImage:
          type: object
          required: [asset]
          description: |
            Hero artwork. `asset` is a key the client maps to a bundled image
            (e.g. "hero-exam", "hero-flashcards", "hero-qbank").
          properties:
            asset:
              type: string

    GradesCurrentResponse:
      type: object
      required: [current, completed, summary]
      properties:
        current:
          type: array
          items:
            $ref: '#/components/schemas/GradeSubject'
        completed:
          type: array
          items:
            $ref: '#/components/schemas/GradeSubject'
        summary:
          $ref: '#/components/schemas/GradesSummary'

    GradeSubject:
      type: object
      required: [subjectName, status]
      properties:
        id:
          type: string
          nullable: true
        subjectName:
          type: string
        professor:
          type: string
          nullable: true
        grade1:
          type: number
          nullable: true
        grade2:
          type: number
          nullable: true
        grade3:
          type: number
          nullable: true
        finalGrade:
          type: number
          nullable: true
        status:
          type: string
        attendance:
          type: number
          nullable: true
        absences:
          type: integer
          nullable: true
        workload:
          type: integer
          nullable: true
        disciplineSlug:
          type: string
          nullable: true
          description: Canonical catalog slug from vita.disciplines.
        canonicalName:
          type: string
          nullable: true
          description: Canonical name from vita.disciplines (joined).
        area:
          type: string
          nullable: true
          description: Catalog area (basica, clinica, cirurgica, etc.).
        icon:
          type: string
          nullable: true
          description: Icon slug from vita.disciplines.

    MaterialFolder:
      type: object
      required: [id, name, slug, icon, kind, sortOrder, docCount]
      description: |
        A folder inside a subject's "Materiais" section. 8 defaults are
        auto-created when a subject first appears (slides/provas/transcricoes/
        plano-ensino/mapas-mentais/briefings/casos-clinicos/outros). Custom
        folders are created via POST /api/subjects/{id}/folders.
      properties:
        id: { type: string }
        name: { type: string }
        slug:
          type: string
          description: |
            Stable identifier consumed by LLM/MCP. Defaults are one of the 8
            slugs above; customs are `custom-<uuid>`. Slug is immutable.
        icon:
          type: string
          description: SF Symbol name. Client maps to its own design system on Android.
        color: { type: string, nullable: true, pattern: '^#[0-9A-Fa-f]{6}$' }
        kind:
          type: string
          enum: [default, custom]
          description: Default folders cannot be deleted (only renamed).
        sortOrder: { type: integer }
        docCount: { type: integer }

    AcademicSubject:
      description: >
        Student's current enrollment — the SOT for "what the student is studying".
        Populated by portal connectors (Canvas/Mannesoft) or manual entry. The
        disciplineSlug field links to MedSimple catalog (vita.disciplines.slug)
        so QBank can filter questions by the student's actual subjects without
        a client-side taxonomy duplicate.
      type: object
      required: [id, name]
      properties:
        id:
          type: string
        name:
          type: string
        displayName:
          description: >
            User-ownable display name (issue #170 phase A). UI shows
            displayName ?? name. Sync NEVER reads nor writes. PATCH via
            /api/subjects/{id} with {displayName: string|null}. Empty
            string and null both reset to the portal-canonical name.
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        source:
          type: string
          nullable: true
        difficulty:
          type: string
          nullable: true
        disciplineSlug:
          description: >
            FK-like link to vita.disciplines.slug for QBank/Simulado filtering.
            Nullable while the backfill job hasn't matched this subject to a
            catalog entry (fuzzy match on canonicalName).
          type: string
          nullable: true
        canonicalName:
          type: string
          nullable: true
        professor:
          type: string
          nullable: true
        semester:
          type: string
          nullable: true
        workload:
          type: integer
          nullable: true
        area:
          description: Catalog area (basica, clinica, cirurgica, etc.) joined from vita.disciplines.
          type: string
          nullable: true
        icon:
          description: Icon slug from vita.disciplines, used for row rendering.
          type: string
          nullable: true
        needsReview:
          description: True when the LLM normalizer couldn't place this subject in the 96-row catalog.
          type: boolean
        questionCount:
          description: Total QBank questions available for this discipline slug (derived from qbank_topics join).
          type: integer
          nullable: true
        attendance:
          description: Attendance percent copied from academic_subjects.attendancePercent.
          type: number
          nullable: true
        absences:
          description: Absence count copied from academic_subjects.absences.
          type: integer
          nullable: true
        grade1:
          description: AP1/P1/N1 score derived from academic_evaluations (title regex).
          type: number
          nullable: true
        grade2:
          description: AP2/P2/N2 score derived from academic_evaluations (title regex).
          type: number
          nullable: true
        grade3:
          description: AP3/P3/N3 score derived from academic_evaluations (title regex).
          type: number
          nullable: true
        finalGrade:
          description: Final/Média/Exame score derived from academic_evaluations (title regex).
          type: number
          nullable: true

    GradesSummary:
      type: object
      properties:
        subjectsCount:
          type: integer
        averageAttendance:
          type: number
          nullable: true
        totalAbsences:
          type: integer
        averageGrade:
          type: number
          nullable: true
        totalWorkload:
          type: integer

    DashboardSubject:
      type: object
      properties:
        name:
          type: string
        shortName:
          type: string
        difficulty:
          type: string
          nullable: true
        vitaScore:
          type: number
          nullable: true
          description: 0-100 mastery score
        vitaTier:
          type: string
          nullable: true
          description: "tier label: bronze, silver, gold, diamond"
        # BYM-E2E-2026-04-17: fields surfaced so iOS MateriasAgendaWidget can render grades+attendance
        # from /api/dashboard alone (eliminating the ghost /api/grades/current route).
        subjectId:
          type: string
          nullable: true
        professor:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
          description: "cursando | aprovado | reprovado | etc"
        grade1:
          type: number
          nullable: true
        grade2:
          type: number
          nullable: true
        grade3:
          type: number
          nullable: true
        finalGrade:
          type: number
          nullable: true
        attendance:
          type: number
          nullable: true
          description: 0-100 percent
        absences:
          type: integer
          nullable: true
        workload:
          type: integer
          nullable: true
        semester:
          type: string
          nullable: true
        disciplineSlug:
          type: string
          nullable: true
          description: Canonical catalog slug from vita.disciplines.
        canonicalName:
          type: string
          nullable: true
          description: Canonical name from vita.disciplines (joined).
        area:
          type: string
          nullable: true
          description: Catalog area (basica, clinica, cirurgica, etc.).
        icon:
          type: string
          nullable: true
          description: Icon slug from vita.disciplines.

    DashboardAgendaItem:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        daysUntil:
          type: integer
        date:
          type: string

    # ═══ Server-Driven UI ═══

    ScreenResponse:
      type: object
      required: [screenId, sections]
      properties:
        screenId:
          type: string
        sections:
          type: array
          items:
            $ref: '#/components/schemas/ScreenSection'

    ScreenSection:
      type: object
      required: [type, props]
      properties:
        type:
          type: string
          enum:
            - hero-carousel
            - hero-stat
            - section-label
            - tools-grid
            - subject-scroll
            - stat-grid
            - stat-row
            - glass-card
            - agenda-list
            - deck-list
            - row-list
            - leaderboard
            - heatmap
            - bar-chart
            - progress-ring
            - empty-state
            - action-button
        props:
          type: object
          additionalProperties: true

    ScreenAction:
      type: object
      properties:
        type:
          type: string
          enum: [navigate, sheet, link]
        target:
          type: string
        screenId:
          type: string
        id:
          type: string
        url:
          type: string

    StudyOverviewResponse:
      type: object
      required: [flashcards, qbank, simulados, transcricoes, subjects]
      properties:
        flashcards:
          $ref: '#/components/schemas/StudyOverviewFlashcards'
        qbank:
          $ref: '#/components/schemas/StudyOverviewQBank'
        simulados:
          $ref: '#/components/schemas/StudyOverviewSimulados'
        transcricoes:
          $ref: '#/components/schemas/StudyOverviewTranscricoes'
        subjects:
          type: array
          items:
            $ref: '#/components/schemas/StudyOverviewSubject'

    StudyOverviewFlashcards:
      type: object
      required: [totalDecks, totalCards, dueNow, reviewedToday]
      properties:
        totalDecks:
          type: integer
        totalCards:
          type: integer
        dueNow:
          type: integer
        reviewedToday:
          type: integer
        lastReviewAt:
          type: string
          format: date-time
          nullable: true

    StudyOverviewQBank:
      type: object
      required: [totalAnswered, accuracy, sessionsThisWeek]
      properties:
        totalAnswered:
          type: integer
        accuracy:
          type: number
          format: float
        sessionsThisWeek:
          type: integer
        lastSessionAt:
          type: string
          format: date-time
          nullable: true

    StudyOverviewSimulados:
      type: object
      required: [totalAttempts]
      properties:
        totalAttempts:
          type: integer
        avgScore:
          type: number
          format: float
          nullable: true
        lastScore:
          type: number
          format: float
          nullable: true
        lastAt:
          type: string
          format: date-time
          nullable: true

    StudyOverviewTranscricoes:
      type: object
      required: [total]
      properties:
        total:
          type: integer
        lastAt:
          type: string
          format: date-time
          nullable: true

    StudyOverviewSubject:
      type: object
      required: [id, name]
      properties:
        id:
          type: string
        name:
          type: string

    CatalogStatusDiscipline:
      type: object
      required:
        - disciplineSlug
        - canonicalName
        - area
        - topicsN3
        - contentsN4
        - questionsActive
        - pctN3
        - pctN4
        - flashcardsTotal
        - flashcardsWithTopic
        - simuladosRef
        - gaps
      properties:
        disciplineSlug: { type: string }
        canonicalName: { type: string }
        area: { type: string }
        icon: { type: string, nullable: true }
        typicalSemester: { type: integer, nullable: true }
        topicsN3: { type: integer }
        topicsN3ExamContainers: { type: integer }
        contentsN4: { type: integer }
        questionsTotal: { type: integer }
        questionsActive: { type: integer }
        questionsWithN3: { type: integer }
        questionsWithN4: { type: integer }
        pctN3: { type: number }
        pctN4: { type: number }
        flashcardsTotal: { type: integer }
        flashcardsWithTopic: { type: integer }
        flashcardsNeedsTagging: { type: integer }
        simuladosRef: { type: integer }
        gaps:
          type: array
          items:
            type: string
            enum:
              - sem_topics_n3
              - low_n3_topics
              - sem_contents_n4
              - low_pct_n3
              - low_pct_n4
              - flashcards_without_topic
              - no_simulado_ref
              - too_many_exam_containers
        curado:
          type: boolean
          nullable: true
          description: null when area is out of scope (internato, vestibular)
        updatedAt: { type: string, format: date-time }

    PortalDiscoveryRun:
      type: object
      required:
        - id
        - universityId
        - universityName
        - portalType
        - instanceUrl
        - confidence
        - status
        - createdAt
      properties:
        id: { type: string, format: uuid }
        universityId: { type: string, format: uuid }
        universityName: { type: string }
        portalType:
          type: string
          enum: [canvas, moodle, sigaa, mannesoft]
        instanceUrl: { type: string, format: uri }
        confidence: { type: number, description: "0.0-1.0 from Haiku" }
        rationale: { type: string, nullable: true }
        status:
          type: string
          enum: [pending, approved, rejected]
        reviewedBy: { type: string, nullable: true }
        reviewedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }

  responses:
    Unauthorized:
      description: Not authenticated
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Authenticated but not allowed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    PlanLimit:
      description: Plan limit reached - upgrade required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PlanLimitError'
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

paths:
  # ════════════════════════════════════════
  # AUTH
  # ════════════════════════════════════════
  /api/auth/mobile-start:
    get:
      tags: [auth]
      operationId: mobileAuthStart
      summary: Start mobile OAuth flow
      security: []
      parameters:
        - name: provider
          in: query
          schema:
            type: string
            default: google
        - name: callbackURL
          in: query
          schema:
            type: string
      responses:
        '302':
          description: Redirect to OAuth provider

  /api/auth/mobile-callback:
    get:
      tags: [auth]
      operationId: mobileAuthCallback
      summary: OAuth callback - redirects to app deep link
      security: []
      responses:
        '302':
          description: Redirect to vitaai://auth/callback with token, name, email, image, or error query params

  /api/auth/mobile-callback-onehub:
    get:
      tags: [auth]
      operationId: mobileAuthCallbackOneHub
      summary: OAuth callback - redirects to ONE Hub deep link
      security: []
      responses:
        '302':
          description: Redirect to onehub://auth/callback with token, name, email, image, or error query params

  /api/auth/mobile-apple:
    post:
      tags: [auth]
      operationId: mobileAppleAuth
      summary: Sign in with Apple identity token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identityToken:
                  type: string
                fullName:
                  type: string
                  nullable: true
                email:
                  type: string
                  nullable: true
                nonce:
                  type: string
                  nullable: true
              required: [identityToken]
      responses:
        '200':
          description: Apple auth successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthToken'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'

  /api/auth/review-token-redeem:
    post:
      tags: [auth]
      operationId: reviewTokenRedeem
      summary: Redeem App Store reviewer pre-shared token for a session
      description: >
        Internal endpoint used by `vitaai://review?token=<APPLE_REVIEW_TOKEN>` deep link.
        Validates the token matches `APPLE_REVIEW_TOKEN` env, signs the demo account
        (`apple.review@bymav.dev`) in via better-auth, and returns the session token.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: Pre-shared review token (env APPLE_REVIEW_TOKEN)
              required: [token]
      responses:
        '200':
          description: Redeem successful — session token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthToken'
        '401':
          description: Invalid review token
        '503':
          description: Review token flow not configured on this server
        '502':
          $ref: '#/components/responses/ServerError'

  /api/auth/{path}:
    get:
      tags: [auth]
      operationId: betterAuthCatchAllGet
      summary: better-auth catch-all (GET)
      security: []
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Varies by better-auth sub-route
    post:
      tags: [auth]
      operationId: betterAuthCatchAllPost
      summary: better-auth catch-all (POST)
      security: []
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Varies by better-auth sub-route

  # ════════════════════════════════════════
  # INTERNAL / CRON
  # ════════════════════════════════════════

  /api/cron/portal-sync:
    get:
      tags: [internal]
      operationId: cronPortalSync
      summary: Periodic portal sync worker (keep-alive + full re-sync, logs to sync_logs)
      description: "Protected by CRON_SECRET bearer token. Not for client use. Writes audit trail to vita.sync_logs. Cloudflare-protected Mannesoft connections (mannesoftprime.com) short-circuit at the top of the loop: only lastPingAt is bumped. No testPortalSession, no full-resync. Real re-sync is the silent-sync cron + client WebView path."
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Sync results
          content:
            application/json:
              schema:
                type: object
                properties:
                  processed:
                    type: integer
                  results:
                    type: array
                    items:
                      type: object
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/cron/portal-normalize:
    get:
      tags: [internal]
      operationId: cronPortalNormalize
      summary: Re-run the portal_grades → academic_subjects promoter for every active connection
      description: |
        Protected by CRON_SECRET bearer. Useful when the promoter logic changed
        (e.g. approved history wasn't being surfaced) or when Mannesoft is
        Cloudflare-blocked but the raw rows in portal_grades are still valid —
        triggers normalizePortalData(userId) per active connection owner.
        Does NOT fetch anything from the portal; purely in-DB reconciliation.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Reconcile results
          content:
            application/json:
              schema:
                type: object
                properties:
                  processed: { type: integer }
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        userId: { type: string }
                        ok: { type: boolean }
                        error: { type: string, nullable: true }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/cron/portal-silent-sync:
    get:
      tags: [internal]
      operationId: cronPortalSilentSync
      summary: Portal-agnostic silent push dispatcher — wakes iOS/Android in background
      description: |
        Scans active portal_connections whose lastSyncAt is older than the silent-sync TTL
        defined in portal-registry.ts for that portalType, and sends a silent APNs (iOS) or
        data-only FCM (Android) push so the app can refresh the portal session in the
        background (~30s window). Adding a new portal is one line in the registry.
        Protected by CRON_SECRET bearer. Run hourly via monstro crontab.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Dispatch results
          content:
            application/json:
              schema:
                type: object
                properties:
                  checked:
                    type: integer
                  pushed:
                    type: integer
                  skippedFresh:
                    type: integer
                  skippedNoPolicy:
                    type: integer
                  results:
                    type: array
                    items:
                      type: object
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/cron/close-stale-read-sessions:
    get:
      tags: [internal]
      operationId: cronCloseStaleReadSessions
      summary: Close qbank_sessions left active for more than 1 hour
      description: |
        Cron runs every minute. Marks qbank_sessions with status='active' and
        createdAt older than 1 hour as 'abandoned'. Without this, sessions pile
        up forever and iOS "Recent Sessions" UI shows stale placeholders.
        Protected by CRON_SECRET bearer token.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Cleanup result
          content:
            application/json:
              schema:
                type: object
                properties:
                  closedCount:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/cron/portal-silent-sync/device:
    post:
      tags: [internal]
      operationId: cronPortalSilentSyncDevice
      summary: Device-triggered portal keep-alive (Android silent push handler)
      description: |
        Called by the Android app after FCM wakes it with a silent data message (type=portal_sync).
        Authenticates via X-Extension-Token, then triggers server-side keep-alive / session refresh
        for the user's portal connections. Body fields are all optional — if omitted, refreshes ALL
        active connections for the authenticated user.
      security:
        - extensionToken: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                connectionId:
                  type: string
                  nullable: true
                portalType:
                  type: string
                  nullable: true
                instanceUrl:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Keep-alive results
          content:
            application/json:
              schema:
                type: object
                properties:
                  refreshed:
                    type: integer
                  alive:
                    type: integer
                  expired:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/portal/force-sync:
    post:
      tags: [internal]
      operationId: portalForceSync
      summary: Force Canvas re-sync with API token
      description: Protected by CRON_SECRET. Accepts a Canvas Personal Access Token to re-scrape and ingest data.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                connectionId:
                  type: string
                  nullable: true
                token:
                  type: string
              required: [token]
      responses:
        '200':
          description: Sync results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  scrape:
                    type: object
                  ingest:
                    type: object
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/mcp:
    post:
      tags: [internal]
      operationId: mcpEndpoint
      summary: MCP (Model Context Protocol) endpoint for AI agents
      description: Internal MCP server endpoint for AI agent tools. Not for client use.
      responses:
        '200':
          description: MCP response


  /api/mcp/user:
    post:
      tags: [internal]
      operationId: mcpUserEndpoint
      summary: vita-user MCP endpoint (user-scoped tools)
      description: |
        User-scoped MCP server. Exposes 64 user-scoped tools (admin-only blocked: run_query, write_query, reset_user_academic_data, get_catalog_status, list_tools)
        that act on behalf of the authenticated user only. Auth via
        `x-internal-request` + `x-internal-secret` + `x-user-id`
        (internal proxy) or OAuth Bearer (claude.ai connectors, WIP).
      responses:
        '200':
          description: MCP response (Streamable HTTP — SSE or JSON)
        '401':
          description: Unauthorized — no valid auth header present
    get:
      tags: [internal]
      operationId: mcpUserEndpointGet
      summary: vita-user MCP endpoint (SSE stream)
      responses:
        '200':
          description: MCP SSE stream
        '401':
          description: Unauthorized
  /api/mcp/catalog:
    post:
      tags: [internal]
      operationId: mcpCatalogEndpoint
      summary: vita-catalog MCP endpoint (public catalog tools)
      description: |
        Public MCP server exposing the curated catalog: 355 universities,
        97 disciplines, 361 portals, professor profiles, cities, states.
        No auth — safe for onboarding flows and claude.ai web connector.
        15 read-only tools covering search/list/get across every catalog entity.
      responses:
        '200':
          description: MCP response (Streamable HTTP — SSE or JSON)
    get:
      tags: [internal]
      operationId: mcpCatalogEndpointGet
      summary: vita-catalog MCP endpoint (SSE stream)
      responses:
        '200':
          description: MCP SSE stream
  # ════════════════════════════════════════
  # PORTAL
  # ════════════════════════════════════════
  /api/portal/filter-files:
    post:
      description: |
        Classifica PDFs do portal (Canvas/Mannesoft) usando LLM via brain('classify')
        -> LiteLLM :8788 -> Qwen local. Retorna apenas IDs de planos de ensino/ementas
        pra iOS baixar (economiza bandwidth: download seletivo em vez de todos PDFs).
        Migrado pra brain canonico em 2026-04-27 (Onda 2 epic agents-hub#3).
      tags: [portal]
      operationId: portalFilterFiles
      summary: LLM-based file filter — classify which files are planos de ensino (Langfuse-traced as process:portal-filter-files)
      security:
        - cookieAuth: []
        - extensionToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                files:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      displayName:
                        type: string
                      contentType:
                        type: string
                      size:
                        type: integer
                    required: [id, displayName]
              required: [files]
      responses:
        '200':
          description: Filtered file IDs
          content:
            application/json:
              schema:
                type: object
                properties:
                  relevantFileIds:
                    type: array
                    items:
                      type: string
                  fallback:
                    type: boolean
                    description: True if regex fallback was used (LLM unavailable)
        '401':
          $ref: '#/components/responses/Unauthorized'

[...]
